/* =============
    Typography
============= */

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
p{
    font-weight: 300;
    margin: 0
}

h1, h2, h3, h4, h5 {
    margin: 0
}

h1{
    font-family: 'Cookie', cursive;
}

h2{
    font-weight: 700;
    font-size: 27px;
}

h3{
    font-size: 22px;
}