/* =============
    Typography
============= */

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
p{
    font-weight: 300;
}
h1{
    font-family: 'Cookie', cursive;
}

h2{
    font-weight: 700;
    font-size: 27px;
}

h3{
    font-size: 22px;
}