/* =============
 Recommendations
============= */

.recommendations{ 
    background-color: $beige;
     @include md{
        display: grid;
        grid-template-columns: 50% auto;
    }

    .container{
        .content{
            display: grid;
            grid-template-columns: 100%;
            gap: 15px;
            padding: 20px;

        @include sm{
            display: grid;
            grid-template-columns: 50% 50%;
        }   
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }
        @include lg{
            display: grid;
            grid-template-rows: auto;
        }
        @include xl{
            display: grid;
            grid-template-rows: auto;
        }
    }
}
    .content-left{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "h2 image"
        "button image";
        padding: 20px;
        height: 72px;
        
    }
    .content-right{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "h2 image"
        "button image" ;
        padding: 20px;
        height: 72px;
        
        }
h2{
    grid-area: h2;
    font-weight: 400;
    font-size: 18px;

    @include md{
        font-size: 28px;
        }
    }

    img{
        grid-area: image;
        justify-self: end;
    }

    a, button{
        color: $black;
        background-color: $blue;
        padding: 10px;
        width: 150px;
        text-align: center;
    }
    button{
        height: 50px;
    }
 
}
 