/* =============
    Search
============= */

.search{
        text-align: center;
        margin: 15px 0 15px 0;
    .content{
        display: flex;


        form{
           display:flex;
           padding:20px;
           margin: auto;

           input{
               border: none;
               width:100%;
               margin-right: 20px;
               border-bottom: 1px solid black;
           
    }
 }   
}
}   