/* =============
    Search
============= */

.search{
        text-align: center;
        margin: 15px 0 15px 0;
    .content{
        display: grid;
        grid-template-columns: 100%;
        gap: 15px;
    }
}   