/* =============
    Search
============= */

.search{
        margin: 50px 0 50px 0;
        display: inline-block;
    .content{
        display: flex;
        padding-left: 20px;
        form{
           input{
               width:100%;
               color: $blue;
               border-bottom: 3px solid $blue;
               border-top: 3px solid $white;
               border-left: 3px solid $white;

            @include md{
                font-size: 30px;
            }
            @include lg{
                font-size: 36px;
            }   
            button{
                background-color: $blue;
                border: none;
                margin-left: 30px;
                float: inline-end;
                 }
            }
        }   
    }      
}   