/* =============
    Base
============= */


.whats-new{
    padding: 20px;

    .whats-new-title{
        .content{
            h2{
                font-weight: 400;
                font-size: 20px;
                color: gray;
            
             @include lg{
                font-size: 32px;
            }

            @include xl{
                font-size: 40px;
             }
        }
    }
}

.whats-new-articles{
    .article-grid{
        display: grid;
        grid-template-columns: 100%;
        gap: 20px ;
        padding: 10px;

        @include md{
            display: grid;
            grid-template-columns: auto;
            grid-template-areas:
            "a1 a1 a2 a2"
            "a3 a3 a4 a4"
            ". a5 a5 ."
            ;
        }
        @include lg{
            grid-template-columns: auto;
            grid-template-areas:
            "a1 a1 a2 a2 a3 a3"
            ". a4 a4 a5 a5 .";
        }
    
    }

    article{


        .container{

            
        }

        img{
            width: 100%;
            display: block;
        }
        button{
            background-color: #9dcaff;
            font-size: 14px;
        }

        &.article-1{
            @include md{
                grid-area: a1;
            }
        }
        &.article-2{
            @include md{
                grid-area: a2;
            }
        }
        &.article-3{
            @include md{
                grid-area: a3;
            }
        }
        &.article-4{
            @include md{
                grid-area: a4;
            }
        }
        &.article-5{
            @include md{
                grid-area: a5;
            }
        }
    }
        .container{
            padding: 15px 0 15px 0;
        
        }
        h3{
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 10px;
        }


    }
}