/* =============
    Footer
============= */
.footer{
    background-color: $beige;
    .container{
    .content{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        list-style: none;
        padding: 0;
        display: inline-block;


        }

        @include md{
            display: grid;
            grid-template-areas:
            "locations newsletter"
            "locations social";
        }
        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "locations newsletter social";
        }
    }
        h3{
            font-size: 20px;
            font-weight: 400 ;
        
            &.locations{
                @include md{
                    grid-area: locations;
                }
            }

            &.newsletter{
                @include md{
                    grid-area: newsletter;
                }
            }
            &.social{
                @include md{
                    grid-area: social;
                }
            }
            .locations, .follow{
                ul{
                    list-style: none;
                    padding: 0;
                }

            }
            

        }
}

    