/* =============
    Footer
============= */
footer{

    .content{
        display: grid;
        grid-template-columns: 100%;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas:
            "locations newsletter"
            "locations social";
        }

    }

}

    