/* =============
    Header
============= */

.header{
    background-color: $beige;
    text-align: center;
    .container{

        .content{
            display: grid;
            grid-template-columns: 50% 50%;

         .site-logo{
            width: auto;
               
        }
    }
    }
    h1{
    
    font-weight: 400;

        @include md{
        display:block;
        font-size: 24px;
        }
        @include lg{
        font-size: 36px; 
        }
    }
}
